<div class="hero-unit">
	<h1>Welcome to my first Rails App!</h1>
	<p>
		Get to know me, <span>Andrew Khajerian</span>!
	</p>

	<!-- Link (href) in Rails -->
	<%= link_to "realGM", "http://basketball.realgm.com/", class: "btn btn-primary btn-large" %>
</div>

