<div class="footer">

	<div id="social">

		<ul class="footer_links">
			<li><small>Connect:</small></li>
			<li>
				<a href="https://www.facebook.com/andrew.khajerian?ref=tn_tnmn" class="facebook">Facebook</a>
			</li>
			<li>
				<a href="https://twitter.com/andrewkhajerian" class="twitter">Twitter</a>
			</li>	
			<li>
				<a href="http://www.linkedin.com/profile/view?id=240477538&trk=nav_responsive_tab_profile_pic" class="linkedin">Linkedin</a>
			</li>	
			<li>
				<a href="http://www.last.fm/user/Drewcifer03" class="last-fm">Last.fm</a>
			</li>
			<li>
				<a href="http://www.goodreads.com/user/show/15343302-andrew-khajerian" class="goodreads">Goodreads</a>
			</li>
			<li style="float:right;"><p><small>©Andrew Khajerian 2013</small><p> </li>		
		</ul>
	</div>

	



</div>